<Languages>
	<Languages>
    <add culture="et" displayName="ET" />
		<add culture="en" displayName="EN" />
    <add culture="ru" displayName="RU" />
    <add culture="lt" displayName="LT" />
    <add culture="lv" displayName="LV" />
    <add culture="sv" displayName="SV" />
 
    <add culture="fi" displayName="FI" />
   
	</Languages>
</Languages>