<loggingConfiguration name="" tracingEnabled="false" defaultCategory="UnhandledException">
	<listeners>
		<add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		 fileName="trace.log" formatter="Text Formatter" />
		<add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		 toAddress="Andrey.Tamelo@helmes.ee; Alexander.Suhanov@helmes.ee" fromAddress="TERIS@helmes.ee" smtpServer="mail.helmes.ee" smtpPort="25" formatter="Text Formatter"
		 authenticationMode="None" useSSL="false"
		 subjectLineStarter="Error of type '" subjectLineEnder="'" />
	</listeners>
	<formatters>
		<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		 template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
		 name="Text Formatter" />
	</formatters>
	<categorySources>
		<add switchValue="Critical" name="UnhandledException">
			<listeners>
				<!--<add name="Flat File Trace Listener" />-->
				<!--<add name="Email Trace Listener" />-->
			</listeners>
		</add>
	</categorySources>
	<specialSources>
		<allEvents switchValue="All" name="All Events" />
		<notProcessed switchValue="All" name="Unprocessed Category" />
		<errors switchValue="All" name="Logging Errors &amp; Warnings" />
	</specialSources>
</loggingConfiguration>