<unity>
  <typeAliases>
    <typeAlias alias="Singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    <typeAlias alias="Transient" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity"/>
    <typeAlias alias="PerWebRequest" type="FoxSec.Infrastructure.EntLib.Unity.UnityPerWebRequestLifetimeManager, FoxSec.Infrastructure.EntLib"/>

    <typeAlias alias="IHolidayBuildingRepository" type="FoxSec.Infrastructure.EF.Repositories.IHolidayBuildingRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="HolidayBuildingRepository" type="FoxSec.Infrastructure.EF.Repositories.HolidayBuildingRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IHolidayBuildingService" type="FoxSec.ServiceLayer.Contracts.IHolidayBuildingService, FoxSec.ServiceLayer"/>
    <typeAlias alias="HolidayBuildingService" type="FoxSec.ServiceLayer.Services.HolidayBuildingService, FoxSec.ServiceLayer"/>


    <typeAlias alias="ILogger" type="FoxSec.Infrastructure.EntLib.Logging.ILogger, FoxSec.Infrastructure.EntLib"/>
    <typeAlias alias="Logger" type="FoxSec.Infrastructure.EntLib.Logging.Logger, FoxSec.Infrastructure.EntLib"/>
    <typeAlias alias="IConfigurationSettings" type="FoxSec.Core.Infrastructure.Configuration.IConfigurationSettings, FoxSec.Core"/>
    <typeAlias alias="ConfigurationSettings" type="FoxSec.Web.Infrastructure.Configuration.ConfigurationSettings, FoxSec.Web"/>
    <typeAlias alias="IConfigurationManager" type="FoxSec.Core.Infrastructure.Configuration.IConfigurationManager, FoxSec.Core"/>
    <typeAlias alias="ConfigurationManager" type="FoxSec.Core.Infrastructure.Configuration.ConfigurationManagerWrapper, FoxSec.Core"/>
    <typeAlias alias="IConnectionSettings" type="FoxSec.Infrastructure.EF.Database.IConnectionSettings, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ConnectionSettings" type="FoxSec.Infrastructure.EF.Database.ConnectionSettings, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IDatabaseFactory" type="FoxSec.Infrastructure.EF.Database.IDatabaseFactory, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="DatabaseFactory" type="FoxSec.Infrastructure.EF.Database.DatabaseFactory, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IUnitOfWork" type="FoxSec.Core.Infrastructure.UnitOfWork.IUnitOfWork, FoxSec.Core"/>
    <typeAlias alias="UnitOfWork" type="FoxSec.Infrastructure.EF.Database.UnitOfWork, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IEventAggregator" type="FoxSec.Common.EventAggregator.IEventAggregator, FoxSec.Common"/>
    <typeAlias alias="EventAggregator" type="FoxSec.Common.EventAggregator.EventAggregator, FoxSec.Common"/>

    <typeAlias alias="ICurrentLanguage" type="FoxSec.Core.Infrastructure.Localization.ICurrentLanguage, FoxSec.Core"/>
    <typeAlias alias="CurrentLanguage" type="FoxSec.Web.Infrastructure.Localization.CurrentLanguage, FoxSec.Web"/>
    <!--<typeAlias alias="ILanguage" type="FoxSec.Core.Infrastructure.Localization.ILanguage, FoxSec.Core"/>
		<typeAlias alias="Language" type="FoxSec.Web.Infrastructure.Localization.Language, FoxSec.Web"/>-->
    <typeAlias alias="ILanguageSource" type="FoxSec.Core.Infrastructure.Localization.ILanguageSource, FoxSec.Core"/>
    <typeAlias alias="LanguageSource" type="FoxSec.Web.Infrastructure.Localization.LanguageSource, FoxSec.Web"/>

    <typeAlias alias="IBackgroundTask" type="FoxSec.Core.Infrastructure.BackgroundTask.IBackgroundTask, FoxSec.Core"/>
    <typeAlias alias="BackgroundTasks" type="FoxSec.Core.Infrastructure.BackgroundTask.IBackgroundTask[], FoxSec.Core"/>
    <typeAlias alias="IBootstrapperTask" type="FoxSec.Core.Infrastructure.Bootstrapper.IBootstrapperTask, FoxSec.Core"/>
    <typeAlias alias="RegisterRoutes" type="FoxSec.Web.Infrastructure.BootstrapperTasks.RegisterRoutes, FoxSec.Web"/>
    <typeAlias alias="RegisterDtoMaps" type="FoxSec.Web.Infrastructure.BootstrapperTasks.RegisterDtoMaps, FoxSec.Web"/>
    <typeAlias alias="RegisterAreas" type="FoxSec.Web.Infrastructure.BootstrapperTasks.RegisterAreas, FoxSec.Web"/>
    <typeAlias alias="StartBackgroundTasks" type="FoxSec.Core.Infrastructure.Bootstrapper.StartBackgroundTasks, FoxSec.Core"/>
    <typeAlias alias="IControllerFactory" type="System.Web.Mvc.IControllerFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    <typeAlias alias="ControllerFactory" type="FoxSec.Web.Infrastructure.ControllerFactory, FoxSec.Web"/>
    <typeAlias alias="RegisterControllerFactory" type="FoxSec.Web.Infrastructure.BootstrapperTasks.RegisterControllerFactory, FoxSec.Web"/>

    <typeAlias alias="UserAuditService" type="FoxSec.Audit.Services.UserAuditService, FoxSec.Audit"/>
    <typeAlias alias="RoleAuditService" type="FoxSec.Audit.Services.RoleAuditService, FoxSec.Audit"/>

    <typeAlias alias="IDomainObjectFactory" type="FoxSec.DomainModel.IDomainObjectFactory, FoxSec.DomainModel"/>
    <typeAlias alias="DomainObjectFactory" type="FoxSec.Infrastructure.EF.ProxyBasedDomainObjectFactory, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IMembershipService" type="FoxSec.Accounts.IMembershipService, FoxSec.Accounts"/>
    <typeAlias alias="AccountMembershipService" type="FoxSec.Accounts.AccountMembershipService, FoxSec.Accounts"/>
    <typeAlias alias="IFormsAuthenticationService" type="FoxSec.Authentication.IFormsAuthenticationService, FoxSec.Authentication"/>
    <typeAlias alias="FormsAuthenticationService" type="FoxSec.Authentication.FormsAuthenticationService, FoxSec.Authentication"/>
    <typeAlias alias="ICurrentUser" type="FoxSec.Authentication.ICurrentUser, FoxSec.Authentication"/>
    <typeAlias alias="CurrentUser" type="FoxSec.Core.Infrastructure.Authentication.CurrentUser, FoxSec.Core"/>

    <typeAlias alias="IBuildingObjectRepository" type="FoxSec.Infrastructure.EF.Repositories.IBuildingObjectRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="BuildingObjectRepository" type="FoxSec.Infrastructure.EF.Repositories.BuildingObjectRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IUserRepository" type="FoxSec.Infrastructure.EF.Repositories.IUserRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="UserRepository" type="FoxSec.Infrastructure.EF.Repositories.UserRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IRoleRepository" type="FoxSec.Infrastructure.EF.Repositories.IRoleRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="RoleRepository" type="FoxSec.Infrastructure.EF.Repositories.RoleRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IRoleTypeRepository" type="FoxSec.Infrastructure.EF.Repositories.IRoleTypeRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="RoleTypeRepository" type="FoxSec.Infrastructure.EF.Repositories.RoleTypeRepository, FoxSec.Infrastructure.EF"/>

    <typeAlias alias="IVideoAccessRepository" type="FoxSec.Infrastructure.EF.Repositories.IVideoAccessRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="VideoAccessRepository" type="FoxSec.Infrastructure.EF.Repositories.VideoAccessRepository, FoxSec.Infrastructure.EF"/>
    
    <typeAlias alias="ICameraAccessRepository" type="FoxSec.Infrastructure.EF.Repositories.ICameraAccessRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="CameraAccessRepository" type="FoxSec.Infrastructure.EF.Repositories.CameraAccessRepository, FoxSec.Infrastructure.EF"/>

    <typeAlias alias="IUserRoleRepository" type="FoxSec.Infrastructure.EF.Repositories.IUserRoleRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="UserRoleRepository" type="FoxSec.Infrastructure.EF.Repositories.UserRoleRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ICountryRepository" type="FoxSec.Infrastructure.EF.Repositories.ICountryRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="CountryRepository" type="FoxSec.Infrastructure.EF.Repositories.CountryRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ILocationRepository" type="FoxSec.Infrastructure.EF.Repositories.ILocationRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="LocationRepository" type="FoxSec.Infrastructure.EF.Repositories.LocationRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ICompanyBuildingObjectRepository" type="FoxSec.Infrastructure.EF.Repositories.ICompanyBuildingObjectRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="CompanyBuildingObjectRepository" type="FoxSec.Infrastructure.EF.Repositories.CompanyBuildingObjectRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ICompanyManagerRepository" type="FoxSec.Infrastructure.EF.Repositories.ICompanyManagerRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="CompanyManagerRepository" type="FoxSec.Infrastructure.EF.Repositories.CompanyManagerRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ITitleRepository" type="FoxSec.Infrastructure.EF.Repositories.ITitleRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="TitleRepository" type="FoxSec.Infrastructure.EF.Repositories.TitleRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IHolidayRepository" type="FoxSec.Infrastructure.EF.Repositories.IHolidayRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="HolidayRepository" type="FoxSec.Infrastructure.EF.Repositories.HolidayRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ICompanyRepository" type="FoxSec.Infrastructure.EF.Repositories.ICompanyRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="CompanyRepository" type="FoxSec.Infrastructure.EF.Repositories.CompanyRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IDepartmentRepository" type="FoxSec.Infrastructure.EF.Repositories.IDepartmentRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="DepartmentRepository" type="FoxSec.Infrastructure.EF.Repositories.DepartmentRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IUserDepartmentRepository" type="FoxSec.Infrastructure.EF.Repositories.IUserDepartmentRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="UserDepartmentRepository" type="FoxSec.Infrastructure.EF.Repositories.UserDepartmentRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IBuildingRepository" type="FoxSec.Infrastructure.EF.Repositories.IBuildingRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="BuildingRepository" type="FoxSec.Infrastructure.EF.Repositories.BuildingRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IUsersAccessUnitRepository" type="FoxSec.Infrastructure.EF.Repositories.IUsersAccessUnitRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="UsersAccessUnitRepository" type="FoxSec.Infrastructure.EF.Repositories.UsersAccessUnitRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IClassificatorRepository" type="FoxSec.Infrastructure.EF.Repositories.IClassificatorRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ClassificatorRepository" type="FoxSec.Infrastructure.EF.Repositories.ClassificatorRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IClassificatorValueRepository" type="FoxSec.Infrastructure.EF.Repositories.IClassificatorValueRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ClassificatorValueRepository" type="FoxSec.Infrastructure.EF.Repositories.ClassificatorValueRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IUserAccessUnitTypeRepository" type="FoxSec.Infrastructure.EF.Repositories.IUserAccessUnitTypeRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="UserAccessUnitTypeRepository" type="FoxSec.Infrastructure.EF.Repositories.UserAccessUnitTypeRepository, FoxSec.Infrastructure.EF"/>
    <!--<typeAlias alias="ITimeZoneRepository" type="FoxSec.Infrastructure.EF.Repositories.ITimeZoneRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="TimeZoneRepository" type="FoxSec.Infrastructure.EF.Repositories.TimeZoneRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ITimeZonePropertyRepository" type="FoxSec.Infrastructure.EF.Repositories.ITimeZonePropertyRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="TimeZonePropertyRepository" type="FoxSec.Infrastructure.EF.Repositories.TimeZonePropertyRepository, FoxSec.Infrastructure.EF"/>-->
    <typeAlias alias="IUserPermissionGroupRepository" type="FoxSec.Infrastructure.EF.Repositories.IUserPermissionGroupRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="UserPermissionGroupRepository" type="FoxSec.Infrastructure.EF.Repositories.UserPermissionGroupRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ILogTypeRepository" type="FoxSec.Infrastructure.EF.Repositories.ILogTypeRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="LogTypeRepository" type="FoxSec.Infrastructure.EF.Repositories.LogTypeRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ILogRepository" type="FoxSec.Infrastructure.EF.Repositories.ILogRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="LogRepository" type="FoxSec.Infrastructure.EF.Repositories.LogRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IUserBuildingRepository" type="FoxSec.Infrastructure.EF.Repositories.IUserBuildingRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="UserBuildingRepository" type="FoxSec.Infrastructure.EF.Repositories.UserBuildingRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IUserPermissionGroupTimeZoneRepository" type="FoxSec.Infrastructure.EF.Repositories.IUserPermissionGroupTimeZoneRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="UserPermissionGroupTimeZoneRepository" type="FoxSec.Infrastructure.EF.Repositories.UserPermissionGroupTimeZoneRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ILogFilterRepository" type="FoxSec.Infrastructure.EF.Repositories.ILogFilterRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="LogFilterRepository" type="FoxSec.Infrastructure.EF.Repositories.LogFilterRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IUserTimeZoneRepository" type="FoxSec.Infrastructure.EF.Repositories.IUserTimeZoneRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="UserTimeZoneRepository" type="FoxSec.Infrastructure.EF.Repositories.UserTimeZoneRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IUserTimeZonePropertyRepository" type="FoxSec.Infrastructure.EF.Repositories.IUserTimeZonePropertyRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="UserTimeZonePropertyRepository" type="FoxSec.Infrastructure.EF.Repositories.UserTimeZonePropertyRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IControllerUpdateRepository" type="FoxSec.Infrastructure.EF.Repositories.IControllerUpdateRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ControllerUpdateRepository" type="FoxSec.Infrastructure.EF.Repositories.ControllerUpdateRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ITAReportRepository" type="FoxSec.Infrastructure.EF.Repositories.ITAReportRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="TAReportRepository" type="FoxSec.Infrastructure.EF.Repositories.TAReportRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="ITAMoveRepository" type="FoxSec.Infrastructure.EF.Repositories.ITAMoveRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="TAMoveRepository" type="FoxSec.Infrastructure.EF.Repositories.TAMoveRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IFSINISettingRepository" type="FoxSec.Infrastructure.EF.Repositories.IFSINISettingRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="FSINISettingRepository" type="FoxSec.Infrastructure.EF.Repositories.FSINISettingRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="IVisitorRepository" type="FoxSec.Infrastructure.EF.Repositories.Interfaces.IVisitorRepository, FoxSec.Infrastructure.EF"/>
    <typeAlias alias="VisitorRepository" type="FoxSec.Infrastructure.EF.Repositories.VisitorRepository, FoxSec.Infrastructure.EF"/>


    <typeAlias alias="IVisitorService" type="FoxSec.ServiceLayer.Contracts.IVisitorService, FoxSec.ServiceLayer"/>
    <typeAlias alias="VisitorService" type="FoxSec.ServiceLayer.Services.VisitorService, FoxSec.ServiceLayer"/>
    <typeAlias alias="IBuildingObjectService" type="FoxSec.ServiceLayer.Contracts.IBuildingObjectService, FoxSec.ServiceLayer"/>
    <typeAlias alias="BuildingObjectService" type="FoxSec.ServiceLayer.Services.BuildingObjectService, FoxSec.ServiceLayer"/>
    <typeAlias alias="ICompanyBuildingObjectService" type="FoxSec.ServiceLayer.Contracts.ICompanyBuildingObjectService, FoxSec.ServiceLayer"/>
    <typeAlias alias="CompanyBuildingObjectService" type="FoxSec.ServiceLayer.Services.CompanyBuildingObjectService, FoxSec.ServiceLayer"/>
    <typeAlias alias="ICompanyManagerService" type="FoxSec.ServiceLayer.Contracts.ICompanyManagerService, FoxSec.ServiceLayer"/>
    <typeAlias alias="CompanyManagerService" type="FoxSec.ServiceLayer.Services.CompanyManagerService, FoxSec.ServiceLayer"/>
    <typeAlias alias="IUserService" type="FoxSec.ServiceLayer.Contracts.IUserService, FoxSec.ServiceLayer"/>
    <typeAlias alias="UserService" type="FoxSec.ServiceLayer.Services.UserService, FoxSec.ServiceLayer"/>
    <typeAlias alias="IRoleService" type="FoxSec.ServiceLayer.Contracts.IRoleService, FoxSec.ServiceLayer"/>
    <typeAlias alias="RoleService" type="FoxSec.ServiceLayer.Services.RoleService, FoxSec.ServiceLayer"/>
    <typeAlias alias="IUsersAccessUnitService" type="FoxSec.ServiceLayer.Contracts.IUsersAccessUnitService, FoxSec.ServiceLayer"/>
    <typeAlias alias="UsersAccessUnitService" type="FoxSec.ServiceLayer.Services.UsersAccessUnitService, FoxSec.ServiceLayer"/>
    <typeAlias alias="ITitleService" type="FoxSec.ServiceLayer.Contracts.ITitleService, FoxSec.ServiceLayer"/>
    <typeAlias alias="TitleService" type="FoxSec.ServiceLayer.Services.TitleService, FoxSec.ServiceLayer"/>
    <typeAlias alias="IHolidayService" type="FoxSec.ServiceLayer.Contracts.IHolidayService, FoxSec.ServiceLayer"/>
    <typeAlias alias="HolidayService" type="FoxSec.ServiceLayer.Services.HolidayService, FoxSec.ServiceLayer"/>
    <typeAlias alias="ICompanyService" type="FoxSec.ServiceLayer.Contracts.ICompanyService, FoxSec.ServiceLayer"/>
    <typeAlias alias="CompanyService" type="FoxSec.ServiceLayer.Services.CompanyService, FoxSec.ServiceLayer"/>
    <typeAlias alias="IDepartmentService" type="FoxSec.ServiceLayer.Contracts.IDepartmentService, FoxSec.ServiceLayer"/>
    <typeAlias alias="DepartmentService" type="FoxSec.ServiceLayer.Services.DepartmentService, FoxSec.ServiceLayer"/>
    <typeAlias alias="IUserDepartmentService" type="FoxSec.ServiceLayer.Contracts.IUserDepartmentService, FoxSec.ServiceLayer"/>
    <typeAlias alias="UserDepartmentService" type="FoxSec.ServiceLayer.Services.UserDepartmentService, FoxSec.ServiceLayer"/>
    <typeAlias alias="IClassificatorService" type="FoxSec.ServiceLayer.Contracts.IClassificatorService, FoxSec.ServiceLayer"/>
    <typeAlias alias="ClassificatorService" type="FoxSec.ServiceLayer.Services.ClassificatorService, FoxSec.ServiceLayer"/>
    <typeAlias alias="IUserAccessUnitTypeService" type="FoxSec.ServiceLayer.Contracts.IUserAccessUnitTypeService, FoxSec.ServiceLayer"/>
    <typeAlias alias="UserAccessUnitTypeService" type="FoxSec.ServiceLayer.Services.UserAccessUnitTypeService, FoxSec.ServiceLayer"/>
    <!-- <typeAlias alias="ITimeZoneService" type="FoxSec.ServiceLayer.Contracts.ITimeZoneService, FoxSec.ServiceLayer"/>
    <typeAlias alias="TimeZoneService" type="FoxSec.ServiceLayer.Services.TimeZoneService, FoxSec.ServiceLayer"/>-->
    <typeAlias alias="ILogService" type="FoxSec.ServiceLayer.Contracts.ILogService, FoxSec.ServiceLayer"/>
    <typeAlias alias="LogService" type="FoxSec.ServiceLayer.Services.LogService, FoxSec.ServiceLayer"/>
    <typeAlias alias="IUserBuildingService" type="FoxSec.ServiceLayer.Contracts.IUserBuildingService, FoxSec.ServiceLayer"/>
    <typeAlias alias="UserBuildingService" type="FoxSec.ServiceLayer.Services.UserBuildingService, FoxSec.ServiceLayer"/>
    <typeAlias alias="IUserPermissionGroupService" type="FoxSec.ServiceLayer.Contracts.IUserPermissionGroupService, FoxSec.ServiceLayer"/>
    <typeAlias alias="UserPermissionGroupService" type="FoxSec.ServiceLayer.Services.UserPermissionGroupService, FoxSec.ServiceLayer"/>
    <typeAlias alias="ILogFilterService" type="FoxSec.ServiceLayer.Contracts.ILogFilterService, FoxSec.ServiceLayer"/>
    <typeAlias alias="LogFilterService" type="FoxSec.ServiceLayer.Services.LogFilterService, FoxSec.ServiceLayer"/>
    <typeAlias alias="IUserTimeZoneService" type="FoxSec.ServiceLayer.Contracts.IUserTimeZoneService, FoxSec.ServiceLayer"/>
    <typeAlias alias="UserTimeZoneService" type="FoxSec.ServiceLayer.Services.UserTimeZoneService, FoxSec.ServiceLayer"/>
    <typeAlias alias="IControllerUpdateService" type="FoxSec.ServiceLayer.Contracts.IControllerUpdateService, FoxSec.ServiceLayer"/>
    <typeAlias alias="ControllerUpdateService" type="FoxSec.ServiceLayer.Services.ControllerUpdateService, FoxSec.ServiceLayer"/>
    <typeAlias alias="ITAReportService" type="FoxSec.ServiceLayer.Contracts.ITAReportService, FoxSec.ServiceLayer"/>
    <typeAlias alias="TAReportService" type="FoxSec.ServiceLayer.Services.TAReportService, FoxSec.ServiceLayer"/>
    <typeAlias alias="ITAMoveService" type="FoxSec.ServiceLayer.Contracts.ITAMoveService, FoxSec.ServiceLayer"/>
    <typeAlias alias="TAMoveService" type="FoxSec.ServiceLayer.Services.TAMoveService, FoxSec.ServiceLayer"/>

    <typeAlias alias="HomeController" type="FoxSec.Web.Controllers.HomeController, FoxSec.Web"/>
    <typeAlias alias="AccountController" type="FoxSec.Web.Controllers.AccountController, FoxSec.Web"/>
    <typeAlias alias="LanguageController" type="FoxSec.Web.Controllers.LanguageController, FoxSec.Web"/>
  </typeAliases>

  <containers>
    <container>
      <types>
        <type type="ILogger" mapTo="Logger">
          <lifetime type="Singleton"/>
        </type>
        <type type="IConfigurationSettings" mapTo="ConfigurationSettings">
          <lifetime type="Singleton"/>
          <property name="AuditUsers">
            <value value="true"/>
          </property>
          <property name="AuditRoles">
            <value value="true"/>
          </property>
          <property name="DateTimeFormatString">
            <value value="yyyy-MMM-dd HH:mm:ss"/>
          </property>
          <property name = "ControllerUpdateRecordLife">
            <value value ="30"></value>
          </property>
        </type>
        <type type="IConfigurationManager" mapTo="ConfigurationManager">
          <lifetime type="Singleton"/>
        </type>
        <type type="IUnitOfWork" mapTo="UnitOfWork">
          <lifetime type="Transient"/>
          <constructor>
            <param name="factory">
              <dependency/>
            </param>
          </constructor>
        </type>
        <type type="IDatabaseFactory" mapTo="DatabaseFactory">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IConnectionSettings" mapTo="ConnectionSettings">
          <lifetime type="Singleton"/>
          <constructor>
            <param name="configuration">
              <dependency/>
            </param>
            <param name="name">
              <value value="Database"/>
            </param>
          </constructor>
        </type>
        <type type="IEventAggregator" mapTo="EventAggregator">
          <lifetime type="Singleton"/>
        </type>
        <type type="ICurrentLanguage" mapTo="CurrentLanguage">
          <lifetime type="Singleton"/>
        </type>
        <type type="ILanguageSource" mapTo="LanguageSource">
          <lifetime type="PerWebRequest"/>
        </type>
        <type name="startBackgroundTasks" type="IBootstrapperTask" mapTo="StartBackgroundTasks">
          <lifetime type="Transient"/>
        </type>
        <type name="registerAreas" type="IBootstrapperTask" mapTo="RegisterAreas">
          <lifetime type="Transient"/>
        </type>
        <type name="registerRoutes" type="IBootstrapperTask" mapTo="RegisterRoutes">
          <lifetime type="Transient"/>
          <constructor>
            <param name="settings">
              <dependency/>
            </param>
          </constructor>
        </type>
        <type name="registerDtoMaps" type="IBootstrapperTask" mapTo="RegisterDtoMaps">
          <lifetime type="Transient"/>
        </type>
        <type name="registerControllerFactory" type="IBootstrapperTask" mapTo="RegisterControllerFactory">
          <lifetime type="Transient"/>
        </type>
        <type name="userAuditService" type="IBackgroundTask" mapTo="UserAuditService">
          <lifetime type="Singleton"/>
        </type>
        <type name="roleAuditService" type="IBackgroundTask" mapTo="RoleAuditService">
          <lifetime type="Singleton"/>
        </type>
        <type type="IControllerFactory" mapTo="ControllerFactory">
          <lifetime type="Transient"/>
        </type>
        <type type="AccountController">
          <lifetime type="Transient"/>
        </type>
        <type type="HomeController">
          <lifetime type="Transient"/>
        </type>
        <type type="LanguageController">
          <lifetime type="Transient"/>
        </type>
        <type type="ICurrentUser" mapTo="CurrentUser">
          <lifetime type="Singleton"/>
        </type>
        <type type="IDomainObjectFactory" mapTo="DomainObjectFactory">
          <lifetime type="Singleton"/>
        </type>

        <type type="IUserRepository" mapTo="UserRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IRoleRepository" mapTo="RoleRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IRoleTypeRepository" mapTo="RoleTypeRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUserRoleRepository" mapTo="UserRoleRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ITitleRepository" mapTo="TitleRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IHolidayRepository" mapTo="HolidayRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ICompanyRepository" mapTo="CompanyRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ICountryRepository" mapTo="CountryRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IDepartmentRepository" mapTo="DepartmentRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUserDepartmentRepository" mapTo="UserDepartmentRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ILocationRepository" mapTo="LocationRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IBuildingRepository" mapTo="BuildingRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IBuildingObjectRepository" mapTo="BuildingObjectRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUserAccessUnitTypeRepository" mapTo="UserAccessUnitTypeRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ICompanyBuildingObjectRepository" mapTo="CompanyBuildingObjectRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ICompanyManagerRepository" mapTo="CompanyManagerRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUsersAccessUnitRepository" mapTo="UsersAccessUnitRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IClassificatorRepository" mapTo="ClassificatorRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IClassificatorValueRepository" mapTo="ClassificatorValueRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <!--<type type="ITimeZoneRepository" mapTo="TimeZoneRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ITimeZonePropertyRepository" mapTo="TimeZonePropertyRepository">
          <lifetime type="PerWebRequest"/>
        </type>-->
        <type type="IUserPermissionGroupRepository" mapTo="UserPermissionGroupRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ILogTypeRepository" mapTo="LogTypeRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ILogRepository" mapTo="LogRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ILogFilterRepository" mapTo="LogFilterRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IControllerUpdateRepository" mapTo="ControllerUpdateRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUserBuildingRepository" mapTo="UserBuildingRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUserPermissionGroupTimeZoneRepository" mapTo="UserPermissionGroupTimeZoneRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUserTimeZoneRepository" mapTo="UserTimeZoneRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUserTimeZonePropertyRepository" mapTo="UserTimeZonePropertyRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IVisitorRepository" mapTo="VisitorRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IVisitorService" mapTo="VisitorService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUserService" mapTo="UserService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IRoleService" mapTo="RoleService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUsersAccessUnitService" mapTo="UsersAccessUnitService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ITitleService" mapTo="TitleService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IHolidayService" mapTo="HolidayService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ICompanyService" mapTo="CompanyService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IBuildingObjectService" mapTo="BuildingObjectService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ICompanyBuildingObjectService" mapTo="CompanyBuildingObjectService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ICompanyManagerService" mapTo="CompanyManagerService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IDepartmentService" mapTo="DepartmentService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUserDepartmentService" mapTo="UserDepartmentService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IMembershipService" mapTo="AccountMembershipService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IFormsAuthenticationService" mapTo="FormsAuthenticationService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IClassificatorService" mapTo="ClassificatorService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUserAccessUnitTypeService" mapTo="UserAccessUnitTypeService">
          <lifetime type="PerWebRequest"/>
        </type>
        <!--<type type="ITimeZoneService" mapTo="TimeZoneService">
          <lifetime type="PerWebRequest"/>
        </type>-->
        <type type="ILogService" mapTo="LogService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUserBuildingService" mapTo="UserBuildingService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUserPermissionGroupService" mapTo="UserPermissionGroupService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ILogFilterService" mapTo="LogFilterService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IControllerUpdateService" mapTo="ControllerUpdateService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IUserTimeZoneService" mapTo="UserTimeZoneService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ITAReportRepository" mapTo="TAReportRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IFSINISettingRepository" mapTo="FSINISettingRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ITAMoveRepository" mapTo="TAMoveRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ITAReportService" mapTo="TAReportService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="ITAMoveService" mapTo="TAMoveService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IHolidayBuildingRepository" mapTo="HolidayBuildingRepository">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IHolidayBuildingService" mapTo="HolidayBuildingService">
          <lifetime type="PerWebRequest"/>
        </type>
        <type type="IVideoAccessRepository" mapTo="VideoAccessRepository">
          <lifetime type="PerWebRequest"/>
        </type>
      
       <type type="ICameraAccessRepository" mapTo="CameraAccessRepository">
          <lifetime type="PerWebRequest"/>
        </type>
      </types>


    </container>
  </containers>
</unity>